/* You can add global styles to this file, and also import other style files */
@import 'http://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css'; 
@import 'http://stackpath.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

body {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5d379e515b3d1100014cf738/1625080809781-8V0KILY2KHKUVQYGOZ81/AlexBakker%2927Club_Particles.gif");
    height:40em; background-size:cover; width:auto;
    background-position:50% 50%;
}