/* You can add global styles to this file, and also import other style files */
@import 'http://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css'; 
@import 'http://stackpath.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

body {
    background-image: url("https://i.gifer.com/8G2D.gif");
    height:40em; background-size:cover; width:auto;
    background-position:50% 50%;
}