
<h6 class="mr-2"><span>Employees List</span><small class="el"></small></h6>
<div className="policy-container">
  <div className="policy-table">
    <table class="table">
      <thead>
        <tr>
            <th>ID</th>
          <th class="max-width">Name</th>
          <th class="sortable">Occupation</th>
          <th>Phone</th>
          <th>Actions</th>
        </tr>
      </thead>
      </table>
  
      <div class="policy" *ngFor="let employee of employees">
        <span>{{employee?.id}}</span>
        <span>{{employee?.name}}</span>
        <span>{{employee?.jobTitle}}</span>
        <span>{{employee?.phone}}</span>
        <span>{{employee?.email}}</span>
      
        <span>
          <button (click)="Edit(employee)" class="btn btn-sm btn-outline-secondary badge" type="button" data-toggle="modal" data-target="#user-form-modal">Edit</button>
          <button (click)="Delete(employee)" class="btn btn-sm btn-outline-secondary badge" type="button"><i class="fa fa-trash"></i>Delete</button>
        </span>
      </div>

  </div>
</div>