/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import 'http://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css'; 
@import 'http://stackpath.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

body {
    background-image: url("https://videohive.img.customer.envatousercontent.com/files/c10c4cda-0574-49de-8651-4b8a4375b7c0/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=e3b9ff49662acb683344d761a08f440");
    margin-top:20px;
    background:#f8f8f8
}